#gmailt {
  position: relative;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
}

#yahoot {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

#fbt {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

#twittert {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

#igt {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

#ytt {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}
