#livre1 {
animation-name: imageSwipe;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes imageSwipe {
0% {opacity: 100%;}
25% {opacity: 0%;}
50% {opacity: 0%;}
75% {opacity: 100%;}
100% {opacity: 100%;}
}

#link {
  text-decoration: none;
}

#link:hover {
  text-decoration: underline;
}

#info-container-1 {
width: 100%;
height: 500px;
position: absolute;
top: 0;
padding-bottom: 50px;
background-color: black;
color: white;
}

#info-container-2 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 500px;
  padding-bottom: 50px;
  background-color: slateblue;
  color: white;
}

#text-container {
   width: 50%;
   position: absolute;
   right: 0%;
   padding-right: 1%;
}

#info-container-3 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 1000px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
}

#info-container-4 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 1500px;
  padding-bottom: 50px;
  background-color: slateblue;
  color: white;
}

#info-container-5 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 2000px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
 }

 #info-container-6 {
   width: 100%;
   height: 500px;
   position: absolute;
   top: 2500px;
   padding-bottom: 50px;
   background-color: slateblue;
   color: white;
  }

  #info-container-7 {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 3000px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
   }

   #info-container-8 {
     width: 100%;
     height: 500px;
     position: absolute;
     top: 3500px;
     padding-bottom: 50px;
     background-color: slateblue;
     color: white;
    }

    #info-container-9 {
      width: 100%;
      height: 500px;
      position: absolute;
      top: 4000px;
      padding-bottom: 50px;
      background-color: black;
      color: white;
     }

     #info-container-10 {
       width: 100%;
       height: 500px;
       position: absolute;
       top: 4500px;
       padding-bottom: 50px;
       background-color: slateblue;
       color: white;
      }

      #info-container-11 {
        width: 100%;
        height: 500px;
        position: absolute;
        top: 5000px;
        padding-bottom: 50px;
        background-color: black;
        color: white;
       }

       #info-container-12 {
         width: 100%;
         height: 500px;
         position: absolute;
         top: 5500px;
         padding-bottom: 50px;
         background-color: slateblue;
         color: white;
        }

        #info-container-13 {
          width: 100%;
          height: 500px;
          position: absolute;
          top: 6000px;
          padding-bottom: 50px;
          background-color: black;
          color: white;
         }

         #info-container-14 {
           width: 100%;
           height: 500px;
           position: absolute;
           top: 6500px;
           padding-bottom: 50px;
           background-color: slateblue;
           color: white;
          }

          #info-container-15 {
            width: 100%;
            height: 500px;
            position: absolute;
            top: 7000px;
            padding-bottom: 50px;
            background-color: black;
            color: white;
           }

           #info-container-16 {
             width: 100%;
             height: 500px;
             position: absolute;
             top: 7500px;
             padding-bottom: 50px;
             background-color: slateblue;
             color: white;
            }

            #info-container-17 {
              width: 100%;
              height: 500px;
              position: absolute;
              top: 8000px;
              padding-bottom: 50px;
              background-color: black;
              color: white;
             }

             #info-container-18 {
               width: 100%;
               height: 500px;
               position: absolute;
               top: 8500px;
               padding-bottom: 50px;
               background-color: slateblue;
               color: white;
              }

              #info-container-19 {
                width: 100%;
                height: 500px;
                position: absolute;
                top: 9000px;
                padding-bottom: 50px;
                background-color: black;
                color: white;
               }

               #info-container-20 {
                 width: 100%;
                 height: 500px;
                 position: absolute;
                 top: 9500px;
                 padding-bottom: 50px;
                 background-color: slateblue;
                 color: white;
                }

                #info-container-21 {
                  width: 100%;
                  height: 500px;
                  position: absolute;
                  top: 10000px;
                  padding-bottom: 50px;
                  background-color: black;
                  color: white;
                 }

                 #info-container-22 {
                   width: 100%;
                   height: 500px;
                   position: absolute;
                   top: 10500px;
                   padding-bottom: 50px;
                   background-color: slateblue;
                   color: white;
                  }

                  #info-container-23 {
                    width: 100%;
                    height: 500px;
                    position: absolute;
                    top: 11000px;
                    padding-bottom: 50px;
                    background-color: black;
                    color: white;
                   }

                   #info-container-24 {
                     width: 100%;
                     height: 500px;
                     position: absolute;
                     top: 11500px;
                     padding-bottom: 50px;
                     background-color: slateblue;
                     color: white;
                    }

                    #info-container-25 {
                      width: 100%;
                      height: 500px;
                      position: absolute;
                      top: 12000px;
                      padding-bottom: 50px;
                      background-color: black;
                      color: white;
                     }

                     #info-container-26 {
                       width: 100%;
                       height: 500px;
                       position: absolute;
                       top: 12500px;
                       padding-bottom: 50px;
                       background-color: slateblue;
                       color: white;
                      }

                      #info-container-27 {
                        width: 100%;
                        height: 500px;
                        position: absolute;
                        top: 13000px;
                        padding-bottom: 50px;
                        background-color: black;
                        color: white;
                       }

                       #info-container-28 {
                         width: 100%;
                         height: 500px;
                         position: absolute;
                         top: 13500px;
                         padding-bottom: 50px;
                         background-color: slateblue;
                         color: white;
                        }

                        #info-container-29 {
                          width: 100%;
                          height: 500px;
                          position: absolute;
                          top: 14000px;
                          padding-bottom: 50px;
                          background-color: black;
                          color: white;
                         }

                         #info-container-30 {
                           width: 100%;
                           height: 500px;
                           position: absolute;
                           top: 14500px;
                           padding-bottom: 50px;
                           background-color: slateblue;
                           color: white;
                          }

                          #info-container-31 {
                            width: 100%;
                            height: 500px;
                            position: absolute;
                            top: 15000px;
                            padding-bottom: 50px;
                            background-color: black;
                            color: white;
                           }

                           #info-container-32 {
                             width: 100%;
                             height: 500px;
                             position: absolute;
                             top: 15500px;
                             padding-bottom: 50px;
                             background-color: slateblue;
                             color: white;
                            }

                            #info-container-33 {
                              width: 100%;
                              height: 500px;
                              position: absolute;
                              top: 16000px;
                              padding-bottom: 50px;
                              background-color: black;
                              color: white;
                             }

                             #info-container-34 {
                               width: 100%;
                               height: 500px;
                               position: absolute;
                               top: 16500px;
                               padding-bottom: 50px;
                               background-color: slateblue;
                               color: white;
                              }

                              #info-container-35 {
                                width: 100%;
                                height: 500px;
                                position: absolute;
                                top: 17000px;
                                padding-bottom: 50px;
                                background-color: black;
                                color: white;
                               }

                               #info-container-36 {
                                 width: 100%;
                                 height: 500px;
                                 position: absolute;
                                 top: 17500px;
                                 padding-bottom: 50px;
                                 background-color: slateblue;
                                 color: white;
                                }

                                #info-container-37 {
                                  width: 100%;
                                  height: 500px;
                                  position: absolute;
                                  top: 18000px;
                                  padding-bottom: 50px;
                                  background-color: black;
                                  color: white;
                                 }

                                 #info-container-38 {
                                   width: 100%;
                                   height: 500px;
                                   position: absolute;
                                   top: 18500px;
                                   padding-bottom: 50px;
                                   background-color: slateblue;
                                   color: white;
                                  }

                                  #info-container-39 {
                                    width: 100%;
                                    height: 500px;
                                    position: absolute;
                                    top: 19000px;
                                    padding-bottom: 50px;
                                    background-color: black;
                                    color: white;
                                   }

                                   #info-container-40 {
                                     width: 100%;
                                     height: 500px;
                                     position: absolute;
                                     top: 19500px;
                                     padding-bottom: 50px;
                                     background-color: slateblue;
                                     color: white;
                                    }

                                    #info-container-41 {
                                      width: 100%;
                                      height: 500px;
                                      position: absolute;
                                      top: 20000px;
                                      padding-bottom: 50px;
                                      background-color: black;
                                      color: white;
                                     }

                                     #info-container-42 {
                                       width: 100%;
                                       height: 500px;
                                       position: absolute;
                                       top: 20500px;
                                       padding-bottom: 50px;
                                       background-color: slateblue;
                                       color: white;
                                      }

                                      #info-container-43 {
                                        width: 100%;
                                        height: 500px;
                                        position: absolute;
                                        top: 21000px;
                                        padding-bottom: 50px;
                                        background-color: black;
                                        color: white;
                                       }

                                       #info-container-44 {
                                         width: 100%;
                                         height: 500px;
                                         position: absolute;
                                         top: 21500px;
                                         padding-bottom: 50px;
                                         background-color: slateblue;
                                         color: white;
                                        }

                                        #info-container-45 {
                                          width: 100%;
                                          height: 500px;
                                          position: absolute;
                                          top: 22000px;
                                          padding-bottom: 50px;
                                          background-color: black;
                                          color: white;
                                         }

                                         #info-container-46 {
                                           width: 100%;
                                           height: 500px;
                                           position: absolute;
                                           top: 22500px;
                                           padding-bottom: 50px;
                                           background-color: slateblue;
                                           color: white;
                                          }

                                          #info-container-47 {
                                            width: 100%;
                                            height: 500px;
                                            position: absolute;
                                            top: 23000px;
                                            padding-bottom: 50px;
                                            background-color: black;
                                            color: white;
                                           }
                                           #info-container-48 {
                                             width: 100%;
                                             height: 500px;
                                             position: absolute;
                                             top: 23500px;
                                             padding-bottom: 50px;
                                             background-color: black;
                                             color: white;
                                            }


#images {
   width: 570px;
   height: 367px;
   position: absolute;
   left: 7%;
   top: 15%
}
