#list-element:hover {
  border: solid;
  border-radius: 7%;
}

#nonono {
  font-size: 25px;
}

#list {
  position: relative;
  top: 20px;
}

#show-text {
   color: gray;
   position: absolute;
   width: 100%;
   border-bottom: 20px;
   font-size: 15px;
      text-align: center;
}
