#content {
  position: absolute;
  top: 80px;
  width: 90%;
  left: 5%;
  min-height: 700px;
  padding-bottom: 200px;
}

#text-general-title {
  font-size: 50px;
}

#text-general {
  font-size: 40px;
}

#text-3 {
  font-size:40px;
}

#text-3-title {
  font-size:60px;
}

#text-4 {
  font-size: 60px;
}

#text-9 {
  font-size: 40px;
}

#text-9-title {
  font-size: 60px;
}

#text-22 {
  line-height:100%;
  font-size: 40px;
}
#text-22-title {
  line-height:100%;
  font-size: 50px;
}
