#content {
  position: absolute;
  top: 80px;
  width: 80%;
  left: 10%;
  padding-bottom: 100px;
}

#text-general-title {
  font-size: 30px;
}

#text-general {
  font-size: 22px;
}

#text-3 {
  font-size:16px;
}

#text-3-title {
  font-size:21px;
}

#text-4 {
  font-size:15px;
}

#text-9 {
  font-size: 27px;
}

#text-9-title {
  font-size: 32px;
}

#text-22 {
  line-height:100%;
  font-size: 22px;
}
#text-22-title {
  line-height:100%;
  font-size: 30px;
}
